https://cdn.discordapp.com/attachments/431162452856537108/931494137025396776/welcome.png
Welcome to the From Zero! Discord server, your friendly language learning community! 

We're a group of students, enthusiasts, and fluent speakers who want to help each other improve our language skills and cultural awareness. We're always looking to improve the server, so please let us know if you have any suggestions on how to improve the study environment!

Let's Enjoy Learning Languages Together!

If you're new to Discord, here's a very cringy 15-minute video to introduce you to the platform; https://youtu.be/le_CE--Mnvs 

You will notice that by default you don't see a lot of channels on the left; after reading the rules below, make sure to check out #access-roles to address that, and #profile-roles to customize your profile!
_ _
_ _
_ _
https://cdn.discordapp.com/attachments/275150545243602944/931497898494029884/the_rules.png
_ _
As part of an effort to maintain a positive and friendly learning environment, we have established the following set of rules.
Failure to adhere to these rules may result in your removal from the server. Please read them carefully and keep them in mind.

If you spot a spammer or encounter an issue with another user and no mods are around, feel free to mention <@&813222833840062475> to ask for help.
_ _
1 ► Inclusivity is our main policy! Hateful, rude, or otherwise inappropriate speech or symbols are not tolerated and will result in a minimum 7-day ban for the first offense, followed by a perma-ban if repeated!

2 ► We ask that you refrain from intense or divisive political/religious discourse.

3 ► Do not promote or discuss illegal activities in our server. This includes, but is not limited to: torrents of copyrighted/protected content, streaming copyrighted content or other copyright infringement, child sexual abuse, illicit drug use, etc.

4 ► No spamming. This includes but is not limited to; ASCII, emoji walls, reaction flooding, meme flooding, multiple embedded links, and multiple short messages.

5 ► Giving other's personal info or threatening to do so will result in an instant perma-ban!

6 ► Offensive names will have a server nickname chosen for them, along with a formal warning.

7 ► Don't advertize other servers without permission. This also involves unsollicited private messages.

8 ► Keep the #main channels family friendly. From Zero! is used by homeschoolers and young adults who may be under supervision while seeking help or practising.

9 ► We are an English speaking server; we ask that you keep conversations in English, or in the appropriate language in the various learning rooms.

10 ► Don't be a help-vampire. You're welcome to frequently ask questions but please also be a member of our community.

11 ► We are not a translation service. Please attempt to solve your problem on your own for at least 20 minutes before asking for help. Also note that a large number of our members are students themselves, and you should generally take advice with a little healthy skepticism.

12 ► Violations of any of these rules, or not heeding in-chat warnings regarding them, may result in a temporary mute/ban or permanent ban at the discretion of the moderators. 
_ _
_ _
_ _
https://cdn.discordapp.com/attachments/275150545243602944/931497898699554826/the_team.png
_ _
A short explanation what each team role does on this server, listed by descending authority:

**Staff**
• <@&204999609699926016>: the big man himself (we might just make him a normal Admin someday)
• <@&204999747579150337>: the final authority when it comes to judgement; you may private message them to appeal your punishment (assuming you receive one)
• <@&204998436741840896>: they're there to watch out for naughties and keep the peace within the server
• <@&298087838787043328>, <@&928748361807450172> and <@&442846100114767873>: employees of From Zero, can help you in each of their different fields if there is an issue with the books, site, courses, etc.

**Non-Staff**
• Native [Language] Speaker: they're natives and will in most cases be the more reliable source
• [Language] Mentor: they're there to assist with learning the language; you can ask them if you can’t figure something out
_ _
_ _
_ _
https://cdn.discordapp.com/attachments/275150545243602944/931497898284294184/read_more.png
_ _
Looking for a more comprehensive outline of our server?
Then please read our beautiful Google Doc! http://bit.ly/2nO8fzn
Note that reading these rules or the Google document do not exempt you from the rules.
_ _
_ _
_ _
Now that you've become familiar with our server, start your journey by going to #access-roles and selecting a language!
